/* General Rules */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/* Header */

.top-background-color {
  background-color: #f72313;
  height: 120px;
}

.top-bar {
  padding-top: 20px;
}

.top-right-form {
  right: 0;
}

.top-date > p {
  color: #fff;
  margin: 0;
}

.login {
  margin-right: 30px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
}

.top-sub {
  border-radius: 64px;
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #ffe400;
}

.brand > svg {
  fill: #fff;
}

/* Navbar Start */

.navbar1 {
  margin-top: 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.navbar-list1 {
  border-left: 1px solid black;
  padding-left: 18px;
}

.navbar-list2 {
  padding-left: 25px;
}

.fs-7 {
  font-size: 0.9rem;
}

.fs-8 {
  font-size: 0.7rem;
}

.search {
  border: none;
  outline: none;
  width: 60px;
}

/* .....................footer section css................... */
footer {
  margin-top: 140px;
}

.footer-logo {
  width: 220px;
}

.fab {
  color: rgb(99, 93, 93);
  font-size: 1.8rem;
}

/* Hover tags */

.login:hover {
  color: #fff;
}
